.env
node_modules
# Firebase service account keys
futur-e-docs-firebase-adminsdk-fbsvc-173d97da41.json
futur-e-firebase-adminsdk-fbsvc-4f1e481bf.json

futur-e-docs-firebase-adminsdk-fbsvc-2f4fb93b31.json